$font-title: 24px;
$font-detail: 16px;

$primary-color: #0088ff;
$secondary-color: #2c3e50;
$link-color: #e74c3c;
$link-hover-color: #c0392b;

$br-mobile: 375px;
$br-desktop: 1024px;

$background-primary: #39cccc;

$quite-black: #333333;

$button-padding: 8px 16px;
$button-margin: 0 5px;
$button-radius: 4px;
$button-hover-background: #ffef41;
$button-text-color: white;
